:root {
  --cardScale: 0;
  --cardX: 0;
  --cardY: 0;

}



body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
html, body {
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#content {
  padding: 0px;
  margin: 0px;
  width: 100vh;
  height: 100vh;
}
main.deck {
  padding: 48px;
}
.deck > h1 {
  font-size: 48px;
  margin-bottom: 16px;
  color: #191919;
  font-weight: 100;
}
.deck > .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 32px;
  grid-auto-flow: dense;
}
.deck > .cards > div:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 2;
}
.deck > .cards > div:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}

.deck > .cards > div > figure {
  height: 100%;
}

.deck > .cards > div > figure > .singleCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.singleCard {
  background-color: aqua;
  border-radius: 15px;
  width: var(--cardX);
  height: var(--cardY);
}