:root {
    /* color schemes */
    --cp-time01: 0, 0, 0;
    --cp-time02: 0, 0, 0;
    --cp-time03: 0, 0, 0;
    --cp-time04: 0, 0, 0;
    --cp-time05: 0, 0, 0;
    --cp-time06: 0, 0, 0;
    --rand-col01: 185, 220, 172;
    --rand-col02: 135, 208, 213;
    --rand-col03: 201, 188, 213;
    --rand-col04: 249, 183, 176;
    --rand-col05: 252, 207, 166;
    --rand-col06: 249, 232, 154;

}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: rgb(45, 201, 201); */

    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

html, body {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#content {
    padding: 0px;
    margin: 0px;
    /* background: linear-gradient(-45deg, rgba(var(--cp-primary), 1.0), #e73c7e, #23a6d5, #23d5ab);  */
    background: linear-gradient(120deg, rgba(var(--cp-time01), 1.0), rgba(var(--cp-time02), 1.0), rgba(var(--cp-time03), 1.0), rgba(var(--cp-time04), 1.0), rgba(var(--cp-time05), 1.0), rgba(var(--cp-time06), 1.0)); 
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (min-width: 961px) { 
    /* deskptop vars */
    
    }
@media only screen and (min-width:481px) and (max-width: 960px) {
    /* tablet vars */
    
    }
@media only screen and (max-width: 480px) {
        /* mobile vars */
    #timezone_navigation {
        position: relative;
        top:50%;
        transform: translateY(-50%);
        border: 1px solid white;
        height: 90vh;
        /* overflow: hidden; */
    }
    #time_header {
        /* border: 1px solid white; */
        position: absolute;
        top: 0;
    }
    #header_blocks {
        display: flex;
        /* transform: skewY(1deg); */
    }
    #header_blocks > * {
        animation: header 20s infinite linear;
    }
    #time_footer {
        position: absolute;
        bottom: 0;
        /* transform: skewY(-1deg); */
    }
    #footer_blocks {
        display: flex;
        /* transform: skewY(-1deg); */
        animation: footer 30s infinite linear;
        /* animation-direction: reverse; */
    }
    .single_block {
        margin: 5px;
        border: 1px solid white;
        width: 50px;
        height: 50px;
        text-align: center;
        color: white;
        /* background-color: aqua; */
    }
    @keyframes header {
        /* 0% {transform: translateX(0) translateY(0);}
        100% {transform: translateX(-1000px) translateY(15px);} */
        0% {transform: translateX(0);}
        100% {transform: translateX(-500px);}
      }
    @keyframes footer {
        0% {transform: translateX(-850px);}
        100% {transform: translateX(500px);}
      }
      
      
    
}

    
    

  /* "hidden" elements */
  .hidden {
    display: none;
  }