    main.deck {
    padding: 2rem;
  }
  
  .deck > h1 {
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 1rem;
    color: #333333;
    font-weight: 100;
  }
  
  .deck > .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }
  
  .deck > .cards > div:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .deck > .cards > div:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
  
  .deck > .cards > div > figure {
    height: 100%;
  }
  
  .deck > .cards > div > figure > .singleCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .singleCard {
    background-color: aqua;
    width: 100px;
    height: 100px;
  }