body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: rgb(45, 201, 201); */

    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

html, body {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#content {
    padding: 0px;
    margin: 0px;
    width: 100vh;
    height: 100vh;
}
/* "hidden" elements */
.hidden {
display: none;
}

.card_deck {
    
    /* position: relative; */
    margin: 50px auto;
  }
.container {
    float: left;
    justify-content: center;
    text-align: center;
}
.flip_card.flip {
    transform:rotatey(-180deg);
  }
.flip_card {
    /* float: left; */
    margin: 20px;
    width: 175px;
    height: 300px;
    transform-style: preserve-3d;
    transition: 0.5s;
    justify-content: center;
  }
.flip_card .side {
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    backface-visibility: hidden; 
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    overflow: auto;
  }
  
.flip_card .front {
    line-height: 160px;
    background-image:url("tarot_01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #000000;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 25px;
    color: white;
    backface-visibility: hidden; 

  }
.flip_card .back {
    background-color: #fff5ee;
    border: 3px solid rgb(0, 0, 0);
    background-image:url("tarot_01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 25px;
    transform:rotatey(-180deg);
    backface-visibility: hidden; 
  }
  /* .text_container {

  }
  .text_wrapper {

  } */
  /* .letters {

  }  */
      
    
        
        
  