:root {
    --borderAttribute: 4px solid rgb(109, 109, 198);
}
body {
    margin: 0;
    font-weight: bold;
    font-family: sans-serif;
    background-color: rgb(123, 183, 159);

}
p {
    margin: 0;
    font-size: 16px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.chatWrapper {
    width: 330px;
    /* height: 400px; */
    border: var(--borderAttribute);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 20px 10px rgb(95, 95, 171);
}
.nameBox {
    border: var(--borderAttribute);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: right;
    padding: 10px;
    margin-bottom: 5px;
    color: aliceblue;
    background-color: rgb(109, 109, 198);
}

.chatBox {
    border: var(--borderAttribute);
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(109, 109, 198);
}

#chat {
    height: 160px;
    overflow: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgb(141, 201, 177);
}

#chat li:nth-child(odd){
    background-color:  rgb(123, 183, 159);
    color: white;
}
#chat li .sender{
    color:aliceblue;
}

.messageBox {
    border: var(--borderAttribute);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    background-color: rgb(109, 109, 198);
}

#name {
    font-size: 16px;
}
#message {
    margin-right: 5px;
    font-size: 16px;
}
#send {
    font-size: 16px;
}